body {
    background-image: url('../images/killbill.jpeg');
    background-size: cover;
}

body, html{
    height:100%;
    margin:0;
    padding:0;
}

.container {
    min-height:100%;
    font-family: 'Russo One', sans-serif;
}


#beatrix,
#elle,
#vernita,
#oren {
    text-align: center;
    display: inline;
    height: 150px;
    width: 200px;
}

h3 {
    display: block;
    clear: both;
}

div.character {
    background: white;
    height: 195px;
    width: 210px;
    float: left;
    display: inline;
    border: 2px solid gray;
    text-align: center;
}

.btn {
    background: #111;
    color: red;
    margin-top: 10px;
}