body {
	background-image: url('../images/killbill.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	

}

.container {
	font-family: 'Russo One', sans-serif;

}

#beatrix, #elle, #vernita, #oren {
	float:left;
	display: inline;
	border: 2px solid gray;
	height: 150px;
	width: 200px;
}

h3 {
	display: block;
	clear:both;
}

.btn {
	background: #111;
	color: red;
}

#stage,#defender {

	height: 100px;
}