body {
	background-image: url('../images/killbill.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	

}

.container {
	font-family: 'Russo One', sans-serif;

}

#beatrix, #elle, #vernita, #oren {
	text-align: center;
	display: inline;
	height: 150px;
	width: 200px;
}

h3 {
	display: block;
	clear:both;
}

.red {
	background-color: red;
}

div.character {
	background: white;
	height: 195px;
	width: 225px;
	float: left;
	display: inline;
	border: 2px solid gray;
	text-align: center;
}

.btn {
	background: #111;
	color: red;
	margin-top: 10px;
}

#stage,#defender {

	height: 100px;
}